name: Deploy to GH Pages

on:
  push:
    branches:
      - master

jobs:
  build:
    name: Deploy to GH Pages
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Install Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.16.1'
          channel: 'stable'
          architecture: x64
      - uses: bluefireteam/flutter-gh-pages@v7
        with:
          webRenderer: canvaskit
          baseHref: /audio-transcriptor-app/
          customArgs: --dart-define="ENV=Prod" --dart-define="API_URI=https://f655-2-37-206-133.ngrok-free.app/transcribe"
